<header>
    <p>Header content goes here...</p>
</header>

<section>
    <div class="example-container basic-container jobs-container" *ngIf="jobs; else noJobPost">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Active Jobs List
                    </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <div class="example-container basic-container">
                    <mat-selection-list #selectedJob *ngIf="jobs && jobs.length > 0">
                        <div class="list-item" *ngFor="let job of jobs">
                            <mat-list-option (click)="getSelectedJob(job)">
                                <mat-icon mat-list-icon>person</mat-icon>
                                <h4 mat-line>{{job.title}}</h4>
                            </mat-list-option>
                        </div>
                    </mat-selection-list>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="selectedJob">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Selected Active Job Description
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-card [job]="selectedJob"></app-card>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #noJobPost> No Job Posts Yet </ng-template>
</section>

<footer>
    <p>Footer content goes here...</p>
</footer>